.nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
    margin: 0px;
    padding-left: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.nav__list-items {
    width: 25%;
}

.nav i {
    height: 20px;
}

.nav .nav__list-link {
    color: #717171;
}
.nav .nav__list-name {
    color: #222222;
}

.nav__list-name {
    font-size: 13px;
}